@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Стили для html.html */
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: #444444;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer-wrapper-social {
  flex-grow: 1;
}

/* Container */
.container {
  width: 1160px;
  margin: 0 auto;
}
/* List */
.user-navigation-list,
.slider-pagination-list,
.slider-text-list,
.main-navigation-list,
.category-product-list,
.services-list,
.about-us-list,
.contact-schedule-list,
.footer-list,
.footer-social-list,
.breadcrumbs-list,
.catalog-filter-list,
.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Font */
.main-navigation-link,
.footer-navigation-link,
.slider-slogan,
.services-link-title,
.about-us-title,
.contact-title,
.subscription-title,
.inner-header-title,
.button,
.category-product-title,
.delivery-product-button,
.catalog-filter-head,
.sorting-type-title,
.pagination-text {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}
/* Flex  */
.user-navigation-list,
.main-navigation-list,
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}
/* Block  */
.header-logo-image,
.user-navigation-link,
.pagination-button,
.main-navigation-link,
.product-item-link {
  display: block;
}
/* Button  */
.button {
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
/* Title  */
.slider-slogan,
.services-link-title,
.about-us-title,
.contact-title,
.subscription-title,
.inner-header-title {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.header-container,
.user-navigation-link,
.main-navigation-link {
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
}
.main-navigation-link,
.footer-navigation-link {
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.slider,
.subscription-block,
.subscription-form,
.footer-social,
.footer-contact {
  display: flex;
  justify-content: space-between;
}
.product-item-link,
.category-title-link,
.product-card-link,
.pagination-link {
  text-decoration: none;
}

/* <!-- Вводная часть сайта --> */
.header-container {
  display: grid;
  grid-template-columns: 60px auto auto;
  grid-template-rows: repeat(3, auto);
  margin-top: 41px;
}
.header-logo {
  grid-row: 1/2;
  grid-column: 2/3;
}
.header-logo-image {
  position: absolute;
  display: block;
  top: 18px;
}
/* Icon */
.navigation-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* Пользовательское меню - user-navigation-list */
.user-navigation-list {
  grid-row: 2/3;
  grid-column: 2/3;
  margin-top: 48px;
  margin-bottom: 45px;
}
.user-navigation-link {
  position: relative;
  font-size: 16px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}
.search-item,
.login-title,
.compare-title,
.basket-title {
  display: block;
  padding: 0;
  margin: 0;
}
.search-item {
  min-width: 516px;
  opacity: 0.3;
  margin-right: 24px;
}
.search-title {
  padding-left: 36px;
}
.login-item {
  min-width: 245px;
  margin-right: 15px;
}
.login-title {
  padding-left: 25px;
}
.compare-item {
  min-width: 120px;
  margin-right: 14px;
}
.compare-title {
  padding-left: 20px;
}
.basket-item {
  min-width: 141px;
}
.basket-title {
  padding-left: 41px;
}
/* Основное меню - main-navigation*/
.main-navigation {
  grid-row: 3/4;
  grid-column: 2/3;
  margin-bottom: 167px;
}
.main-navigation-link {
  position: relative;
}
.catalog-item {
  min-width: 236px;
  margin-right: 304px;
}
.navigation-icon-catalog {
  left: 243px;
}
.delivery-item,
.warranty-item,
.contact-item {
  min-width: 140px;
}
.delivery-item {
  margin-right: 19px;
}
.warranty-item {
  margin-right: 65px;
}
.contact-item-link {
  text-align: right;
}

/* Слайдер в две колонки - slider*/
.slider {
  display: grid;
  grid-template-columns: 560px 560px;
  align-items: flex-start;
  column-gap: 40px;
  margin-bottom: 70px;
}
.slider-image {
  position: absolute;
  top: 190px;
}
.slider-text-list {
  list-style-type: none;
  counter-reset: my-awesome-counter;
  position: relative;
}
.slider-text-item {
  counter-increment: my-awesome-counter;
}
.slider-text-item::before {
  content: "0" counter(my-awesome-counter);
  font-family: inherit;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: -70px;
  margin-top: 29px;
  margin-right: 49px;
}
.slider-slogan {
  position: relative;
  margin: 0;
  margin-top: -30px;
  margin-bottom: 28px;
}
.slider-text {
  margin: 0;
  margin-bottom: 50px; /*по фигме 50px*/
}
.detailed {
  display: flex;
  align-items: center;
  margin-bottom: 72px; /*по фигме 70px*/
}
.slider-button-circle {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 200px;
}
.detailed-title {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  min-width: 220px;
}
.title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 220px;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}
.slider-pagination-list {
  display: flex;
  margin-right: 60px;
}
.slider-pagination-item {
  margin-right: 22px;
}
.pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
}
.pagination-button-current {
  background: #000000;
}
.characteristic-product {
  position: relative;
  left: -20px;
  border-spacing: 19px 0;
  margin-bottom: 39px;
}
.product-row-title > td {
  padding-bottom: 8px;
}
.product-row-title {
  font-size: 36px;
  color: #000000;
}
.product-row-data {
  font-size: 16px;
}

/* Категории - category*/
.category {
  margin-bottom: 169px;
}
.category-product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  gap: 40px;
}
.category-product-item {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: min-content;
  row-gap: 33px;
}
.product-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  box-sizing: border-box;
}
.category-product-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
  padding: 0;
  padding-bottom: 12px;
  margin: 0;
}
.image-monopods {
  align-self: flex-end;
}
/* .category-product-item:hover .product-item-link {
  background-color: #ffc700;
}
.category-product-item:focus .product-item-link {
  outline: 5px solid #af4fff;
  background-color: #ffe17f;
}
.category-product-item:focus .category-product-title {
  color: #af4fff;
}
.category-product-item:active .product-item-link {
  outline: none;
}
.category-product-item:active img {
  opacity: 0.3;
}
.category-product-item:active .category-product-title {
  color: #000000;
  opacity: 0.3;
} */

/* Сервисы - services*/
.services,
.delivery-product-button,
.subscription {
  position: relative;
  color: #000000;
  background-color: #f0f0f0;
  z-index: -999;
}
.services-block {
  position: relative;
  top: -28px;
  display: grid;
  grid-template-columns: 360px 560px 1fr;
  column-gap: 40px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 956px 15px;
  padding-bottom: 39px;
}
.services-list::before {
  content: "";
  position: absolute;
  top: -70px;
  left: 277px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}
.services-item {
  position: relative;
}
.services-button {
  display: block;
  width: 160px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.services-button-current {
  padding: 9px 120px 11px 0;
  margin-top: 10px;
  margin-bottom: 35px;
}
.services-title::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  background-color: #ffe17f;
  top: 50%;
  left: 0;
  transform: translateY(-4px);
  z-index: -1;
}
.services-link-title {
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 14px;
}
.services-link-text {
  max-width: 497px;
  padding-bottom: 75px;
  margin: 0;
}

/* О компании - delivery-product*/
.delivery-product {
  margin-top: 90px;
  margin-bottom: 80px; /*в фигме 87px*/
}
.delivery-product-container {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  gap: 97px 40px;
}
.delivery-product-button {
  grid-column: span 2;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  padding: 37px 125px 43px;
  position: relative;
}
.delivery-button {
  grid-column: span 2;
  display: flex;
}
.delivery-icon {
  background-color: #ffe17f;
  padding: 35px 39px 35px 39px;
}
.delivery-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.info-icon {
  position: absolute;
  top: 29px;
  right: 33px;
  bottom: 31px;
}
/* Информация о нас - about-us*/
.horizontal-line {
  max-width: 80px;
  height: 7px;
  background-color: #000000;
  margin-bottom: 41px;
}
.about-us-title,
.contact-title {
  margin: 0;
  margin-bottom: 46px;
}
.about-us-text {
  max-width: 497px;
  margin: 0;
  margin-bottom: 27px;
}
.last-text {
  padding-bottom: 40px;
}
.about-us-item::before {
  content: "\2022"; /* юникод точки */
  color: #ffc700;
  font-weight: 800;
  display: inline-block;
  width: 33px;
}
.about-us-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
.about-us-list > li {
  padding: 5px 0;
  margin: 0;
}
.about-us-list {
  margin-bottom: 59px;
}
.about-us-button,
.contact-button {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 260px;
}
.about-us-button {
  padding: 5px 18px 5px;
}
/* Информация о контактах - contact*/
.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}
.contact-text {
  margin: 0;
  margin-bottom: 30px;
}
.contact-address,
.footer-address,
.footer-address-phone {
  font-style: normal;
}
.contacts-address-text {
  margin: 0;
}
.contacts-phone {
  display: block;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}
.contact-schedule-list {
  margin: 0;
  padding: 0;
  margin-bottom: 63px;
}
.contact-button {
  padding: 5px 35px 5px;
}
/* Подписка на рассылку - subscription*/
.subscription-block {
  column-gap: 40px;
}
.subscription-title {
  max-width: 560px;
  padding-bottom: 20px;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 40px;
}
.subscription-text {
  max-width: 560px;
  align-self: flex-start;
  padding-bottom: 9px;
  margin: 0;
  margin-top: 86px;
}
.subscription-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  padding-bottom: 131px;
}
.subscription-form-input {
  box-sizing: border-box;
  font: inherit;
  opacity: 0.5;
  min-width: 601px;
  border: none;
  padding-bottom: 10px; /*в фигме 9px*/
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  margin: 0;
}
.subscription-button {
  font-size: inherit;
  line-height: 21px;
  width: 260px;
  box-sizing: border-box;
  padding: 0;
  margin-right: 136px;
  border: none;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
}
.subscription-button-title {
  display: block;
  padding: 14px 0 15px 0; /*в фигме 17 и 18px*/
}
.subscription-label {
  color: #444444;
}
.subscription-checkbox {
  padding: 0;
  margin: 0;
  margin-right: 21px;
}
/* Заключительная часть сайта - page-footer*/
.page-footer {
  color: #ffffff;
  background-color: #444444;
}
.footer-logo {
  display: block;
  padding-top: 62px;
  padding-bottom: 24px; /*в фигме 35px*/
}
.footer-contact {
  margin-bottom: 49px;
}
.footer-address-text {
  margin-right: 114px;
}
.footer-text,
.catalog-filter-head,
.sorting-type-title,
.selected-control,
.breadcrumbs-item-link,
.control-label,
.sorting-type-title,
.pagination-text,
.pagination-number,
.button-show-more,
.pagination-number {
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  margin: 0;
}
.footer-list {
  /*нужно переделать*/
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 68px;
}
.footer-item {
  width: 148px;
}
.footer-navigation-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  line-height: 21px;
  text-align: center;
}
.footer-address-phone {
  min-width: 293px;
}
.footer-text-phone {
  text-align: right;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.footer-social {
  display: flex;
  align-items: center;
}
.horizontal-yellow-line {
  margin: 0;
  padding: 0;
  min-width: 80px;
  height: 7px;
  margin-right: 425px;
  background-color: #ffc700;
}
.footer-social {
  padding-bottom: 61px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  outline: 1px solid red;
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.htmlacademy-link {
  margin-left: 392px;
}
.htmlacademy-image {
  display: block;
}

/* Стили для catalog.html */
.page-header-catalog {
  margin-bottom: 37px;
}
.main-navigation-catalog {
  margin: 0;
  padding-bottom: 38px;
}
.inner-header {
  margin-bottom: 49px;
}
.inner-header-title {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  margin-left: 60px;
}
.breadcrumbs-list {
  margin-left: 60px;
}
.breadcrumbs-item-link {
  display: block;
  text-decoration: none;
  opacity: 0.6;
  margin-right: 36px;
}

/* <!-- Список фильтров --> */
.filter-list {
  display: grid;
  grid-template-columns: auto auto;
}
.catalog-filter-head,
.sorting-type-title {
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
/* <!-- Фильтрация левая --> */
.filter-container {
  background-color: #ebebeb;
  box-sizing: border-box;
  padding: 0 69px 0 92px; /*этот отступ 92зч для подгонки, нужно переделать */
}
.catalog-filter {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 200px;
}
.catalog-filter-head {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 69px;
  background-color: #dcdcdc;
}
.catalog-filter-group {
  margin: 0;
  padding: 0;
}
.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-transform: capitalize;
}
.range-text {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

/* Сортировка */
.sorting-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sorting-type {
  display: flex;
  align-items: baseline;
  margin: 0;
  background: #ebebeb;
  margin-bottom: 69px;
  align-self: stretch;
}
.sorting-type-title {
  padding: 25px 55px 25px 72px;
  margin-right: 55px;
}
.selected-control {
  border: 0;
  background-color: transparent;
  margin-right: 300px;
}
.sorting-button {
  display: block;
  width: 11px;
  height: 10px;
  margin: 0;
  margin-right: 19px;
  border: 1px solid red;
}
.catalog-filter,
.sorting-type,
.pagination-list {
  color: #000000;
  background-color: #ebebeb;
}
.breadcrumbs-item-link,
.catalog-filter-head,
.control-label,
.sorting-type-title,
.pagination-text,
.pagination-number,
.button-show-more {
  color: #000000;
}

.product {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  column-gap: 40px;
  padding: 0;
  margin-left: 72px;
}
.product-card {
  display: grid;
  align-items: baseline;
  grid-template-columns: 280px 80px;
  grid-template-rows: 380px 32px min-content 44px auto;
}

.product-card-link {
  display: block;
  grid-column: 1/-1;
}
.product-card-image {
  display: block;
  width: 100%;
}
.product-title-link {
  grid-column: 1/2;
  grid-row: 3/4;
  text-decoration: none;
  margin: 0;
}
.product-card-title {
  font-weight: 700;
  line-height: 24px;
  font-size: inherit;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 0;
  margin: 0;
}
.product-card-price {
  line-height: 21px;
  margin: 0;
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: right;
}
.button-show-more {
  grid-column: 1/-1;
}
/* Пагинация */
.button-show-more {
  min-width: 760px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 15px;
  margin-left: 72px;
  margin-bottom: 51px;
  box-sizing: border-box;
}
.pagination {
  display: flex;
  align-items: center;
  min-height: 70px;
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  margin-bottom: 72px;
}
.pagination-link {
  display: block;
}
.pagination-prev,
.pagination-next {
  display: block;
  margin: 0;
}
.pagination-prev {
  margin-right: 209px;
  padding: 25px 0 25px 29px;
}
.pagination-next {
  padding: 25px 30px 25px 0;
}
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 157px;
}
.pagination-item {
  margin-right: 31px;
}
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-number {
  display: block;
  padding: 25px 0;
}
.sorting-type-title,
.pagination-text {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.pagination-number {
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
