@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Стили для html.html */
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  /* z-index: -999; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-container,
.footer-wrapper-social {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}
.header-container,
.page-container,
.footer-container {
  width: 1160px;
  margin: 0 auto;
  z-index: 0;
}
.header-logo-image {
  display: block;
  margin-left: 60px;
}
.user-navigation-list,
.slider-pagination-list,
.slider-text-list,
.main-navigation-list,
.category-product-list,
.services-list,
.about-us-list,
.contact-schedule-list,
.footer-list,
.footer-social-list,
.breadcrumbs-list,
.catalog-filter-list,
.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.user-navigation-list,
.main-navigation-list,
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}
.user-navigation-link,
.pagination-button,
.main-navigation-link {
  display: block;
}
.header-container,
.user-navigation-link,
.main-navigation-link {
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
}
.main-navigation-link,
.footer-navigation-link,
.slider-slogan,
.services-link-title,
.about-us-title,
.contact-title,
.subscription-title,
.inner-header-title,
.button,
.category-product-title,
.delivery-product-button,
.catalog-filter-head,
.sorting-type-title,
.pagination-text {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}
.main-navigation-link,
.footer-navigation-link {
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.slider-slogan,
.services-link-title,
.about-us-title,
.contact-title,
.subscription-title,
.inner-header-title {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.button {
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.slider,
.about-shop-container,
.subscription-block,
.subscription-form,
.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product-item-link,
.product-card-link,
.pagination-link {
  text-decoration: none;
}

/* <!-- Вводная часть сайта --> */
.header-container {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  position: relative;
}
.header-logo-image {
  position: absolute;
  display: block;
  top: -25px;
  left: 2px;
}
/* Пользовательское меню - user-navigation-list */
.user-navigation {
  display: flex;
  margin-top: 34px;
  margin-left: 45px;
  margin-bottom: 14px;
}
.user-navigation-link {
  display: block;
  font-size: 16px;
  line-height: 23px;
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}
.search-form {
  display: flex;
  align-items: center;
  background: url(../img/icon/search.svg) no-repeat 16px center;
  margin-right: 19px;
  position: relative;
}
.search-input {
  min-width: 356px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  /* opacity: 0.3; */
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  padding: 10px 20px 10px 52px;
  box-sizing: border-box;
  outline: none;
}
.search-button {
  min-width: 160px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  text-transform: none;
  letter-spacing: 0;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  padding: 10px 47px;
  margin: 0;
  outline: none;
  visibility: hidden;
}
.login-title {
  max-width: 117px;
  padding: 11px 21px 10px 46px;
  margin-right: 141px;
  background: url(../img/icon/login.svg) no-repeat 21px center;
}
.compare-title {
  max-width: 136px;
  padding: 11px 21px 10px 41px;
  margin-right: 15px;
  background: url(../img/icon/compare.svg) no-repeat 21px center;
}
.basket-title {
  max-width: 131px;
  padding: 11px 21px 10px 44px;
  background: url(../img/icon/basket.svg) no-repeat 3px center;
}
/* Псевдокласс*/
/* Search  */
/* Как сделать поиск по сайту в фокусе  */
.search-input:hover {
  opacity: 0.6;
}
/* .search-input[value=""] {
  background: red;
}
.search-input:not([value=""]) {
  background: blue;
}
.search-input:active {
  background: red;
} */
/* .search-input:focus-within {
  border: 2px solid #000000;
  border-radius: 20px 0 0 20px;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  opacity: 1;
} */
.search-form:focus-within .search-input {
  border: 2px solid #af4fff;
  border-radius: 20px 0 0 20px;
  border-right: none;
  box-sizing: border-box;
  opacity: 1;
}
.search-form:focus-within .search-button {
  visibility: visible;
  border: 2px solid #af4fff;
  box-sizing: border-box;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  color: transparent;
}
.search-input
/* .search-form:focus-within .search-input {
  border: 2px solid #000000;
  border-radius: 20px 0 0 20px;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  opacity: 1;
}
.search-form:focus-within .search-button {
  visibility: visible;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
} */
/* .search-input:focus-within + .search-button {
  visibility: visible;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
} */

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}
.search-button:focus {
  border: 2px solid #af4fff;
  background-color: transparent;
}
.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation-link:hover {
  opacity: 0.6;
}
.user-navigation-link:focus {
  border: 2px solid #af4fff;
  box-sizing: border-box;
  border-radius: 20px;
}
.user-navigation-link:active {
  opacity: 0.3;
  border: 2px solid transparent;
}
/* Основное меню - main-navigation*/
.main-navigation {
  margin-bottom: 148px;
}
.main-navigation-item {
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  position: relative;
}
.main-navigation-link {
  margin: 0;
  padding: 0;
  padding: 14px 17px 15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
}
.catalog-item {
  min-width: 263px;
  margin-left: 42px;
  margin-right: 278px;
}
.catalog-title {
  position: relative;
}
.catalog-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 262px;
  width: 45px;
  height: 45px;
  opacity: 0.2;
  border: 2px solid #000000;
  border-radius: 50%;
  background: url(../img/icon/catalog-plus.svg) no-repeat center center;
}
.delivery-item {
  margin-right: 0;
}
.warranty-item {
  margin-right: 56px;
  margin-left: -8px;
}
.contacts-title {
  text-align: right;
}
/* Псевдокласс - :hover  */
.catalog-item:hover .catalog-title::after {
  opacity: 1;
  background: url(../img/icon/catalog-minus.svg) no-repeat center center;
}
.main-navigation-link:hover:not(.catalog-title)::before {
  content: "";
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: 10px;
  height: 2px;
  background-color: #000000;
}
/* Псевдокласс - :focus   !!!НЕ РАБОТАЕТ!!!  */
.main-navigation-link:focus {
  border: 2px solid #af4fff;
  box-sizing: border-box;
  border-radius: 25px;
}
/* Псевдокласс - :active  */
.main-navigation-link:active {
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
  opacity: 0.3;
}
.main-navigation-link:active .catalog-title::after {
  opacity: 0.3;
  background: url(../img/icon/catalog-minus.svg) no-repeat center center;
}
/* Слайдер в две колонки - slider*/
.slider {
  display: grid;
  grid-template-columns: 560px 560px;
  align-items: start;
  column-gap: 40px;
  margin-bottom: 58px;
}
.slider-column-left {
  position: relative;
}
.slider-image {
  position: absolute;
  top: -150px;
}
.slider-button {
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 6px;
  position: absolute;
  width: 40px;
  height: 80px;
  padding: 10px;
  cursor: pointer;
}
.slider-prev {
  top: 89px;
  left: 9px;
  background: url(../img/icon/left-tall-arrow.svg) no-repeat center center;
}
.slider-next {
  top: 89px;
  right: 9px;
  transform: rotate(180deg);
  background: url(../img/icon/left-tall-arrow.svg) no-repeat center center;
}
.slider-text-list {
  list-style-type: none;
  counter-reset: my-awesome-counter;
  position: relative;
}
.slider-text-item {
  counter-increment: my-awesome-counter;
}
.slider-text-item::before {
  content: "0" counter(my-awesome-counter);
  font-family: inherit;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: -68px;
  margin-top: 29px;
  margin-right: 49px;
}
.slider-slogan {
  position: relative;
  left: 2px;
  margin: 0;
  margin-top: -30px;
  margin-bottom: 28px;
}
.slider-text {
  position: relative;
  left: 2px;
  margin: 0;
  margin-bottom: 38px;
}
.detailed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 53px;
}
.detailed-button {
  left: 3px;
  display: block;
  margin: 0;
  padding: 15px 0;
  min-width: 220px;
  position: relative;
}
.detailed-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}
.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 60px;
}
.slider-pagination-item {
  margin-right: 21px;
}
.slider-pagination-item:last-child {
  margin-right: 0;
}
.pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  outline: none;
}
.pagination-button-current {
  background: #000000;
}
.characteristic-product {
  position: relative;
  left: -20px;
  border-spacing: 20px 0;
  margin-bottom: 49px;
}
.product-row-title > td {
  padding-bottom: 10px;
}
.product-row-title {
  font-size: 36px;
  color: #000000;
}
.product-row-data {
  font-size: 16px;
}
/* Псевдокласс - :hover для .slider-button */
/* Псевдокласс - :hover  */
.slider-button:hover {
  opacity: 0.6;
}
/* Псевдокласс - :focus  */
.slider-button:focus {
  border: 2px solid #af4fff;
}
/* Псевдокласс - :active  */
.slider-button:active {
  opacity: 0.3;
  border: 2px solid transparent;
}
/* Псевдокласс - :hover для .detailed-button */
/* Псевдокласс - :hover  */
.detailed-button:hover {
  background: #ffe17f;
}
/* Псевдокласс - :focus  */
.detailed-button:focus::before {
  background-color: #af4fff;
}
/* Псевдокласс - :active  */
.detailed-button:active {
  color: rgba(0, 0, 0, 0.3);
}
/* Псевдокласс - :hover для .pagination-button*/
/* Псевдокласс - :hover  */
.pagination-button:hover {
  background: #ffffff;
  opacity: 0.6;
  border: 2px solid #000000;
}
/* Псевдокласс - :focus  */
.pagination-button:focus {
  background: #ffffff;
  border: 2px solid #af4fff;
}
/* Псевдокласс - :active  */
.pagination-button:active {
  background: #ffffff;
  opacity: 0.3;
  border: 2px solid #000000;
}
/* Категории - category*/
.category {
  left: 1px;
  margin-bottom: 180px;
}
.category-product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 40px;
}
.product-item-link {
  display: block;
}
.virtual-reality,
.image-monopods,
.action-cameras,
.fitness-bracelets,
.smart-watches,
.quadrocopters {
  width: 160px;
  height: 160px;
}
.virtual-reality {
  background: url(../img/category/virtual-reality.svg) no-repeat center;
}
.image-monopods {
  background: url(../img/category/monopods-for-selfies.svg) no-repeat center
    bottom;
}
.action-cameras {
  background: url(../img/category/action-cameras.svg) no-repeat center;
}
.fitness-bracelets {
  background: url(../img/category/fitness-bracelets.svg) no-repeat center;
}
.smart-watches {
  background: url(../img/category/smart-watches.svg) no-repeat center;
}
.quadrocopters {
  background: url(../img/category/quadrocopters.svg) no-repeat center;
}
.product-item-box {
  display: block;
  background-color: #ffe17f;
  outline: 5px solid transparent;
  box-sizing: border-box;
  margin-bottom: 33px;
}
.category-product-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
  padding: 0;
  margin: 0;
}
.product-item-link {
  pointer-events: none;
}
.product-item-box,
.category-product-title {
  pointer-events: auto;
}
/* Псевдокласс - :hover для .product-item-link*/
/* Псевдокласс - :hover  */
.product-item-link:hover .product-item-box {
  background: #ffc700;
}
/* Псевдокласс - :focus  */
.product-item-link:focus .product-item-box {
  background-color: #ffe17f;
  outline: 5px solid #af4fff;
}
.product-item-link:focus .category-product-title {
  color: #af4fff;
}
/* Псевдокласс - :active */
.product-item-link:active .product-item-box {
  background: #ffc700;
  outline: 5px solid transparent;
}
.product-item-link:active .product-item-box {
  background: #ffc700;
  outline: 5px solid transparent;
}
.product-item-link:active .product-item-image {
  opacity: 0.3;
}
.product-item-link:active .category-product-title {
  color: #000000;
  opacity: 0.3;
}

/* Сервисы - services*/
.services,
.delivery-product-button,
.subscription {
  color: #000000;
  background-color: #f0f0f0;
  z-index: 0;
  position: relative;
}
.services {
  margin-bottom: 90px;
}
.services-block {
  display: flex;
}
.services-list {
  position: relative;
  top: -19px;
  left: 3px;
}
.services-list::after {
  content: "";
  position: absolute;
  top: -79px;
  left: 277px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}
.services-button {
  display: block;
  position: relative;
  width: 280px;
  text-align: center;
  padding: 10px 120px 11px 3px;
  margin-bottom: 24px;
  box-sizing: border-box;
}
.services-button::before {
  content: "";
  position: absolute;
  left: -121px;
  top: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
  width: 160px;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}
.services-content {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: -78px;
  left: 122px;
}

.services-text {
  position: relative;
  left: 119px;
  top: -61px;
  margin: 0;
  padding: 0;
}
.services-link-text {
  position: relative;
  top: -16px;
  padding-bottom: 30px;
}
.services-button-delivery::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  top: 6px;
  left: 957px;
  background: url("../img/services/delivery.svg") no-repeat center;
}
.services-button-guarantee::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  top: 6px;
  left: 957px;
  background: url("../img/services/guarantee.svg") no-repeat center;
  display: none;
}
.services-button-credit::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  top: 6px;
  left: 957px;
  background: url("../img/services/credit.svg") no-repeat center;
  display: none;
}
.services-content-guarantee,
.services-content-credit {
  display: none;
}

/* Псевдокласс - :hover для .services-button*/
/* Псевдокласс - :hover  */
.services-button:hover {
  background: #ffc700;
  width: 160px;
  padding: 10px 18px 11px 18px;
  box-sizing: border-box;
}
.services-button:hover::before {
  background: transparent;
}
/* Псевдокласс - :focus  */
.services-button:focus {
  background: transparent;
  width: 160px;
  padding: 10px 18px 11px 18px;
  box-sizing: border-box;
}
.services-button:focus::before {
  background: #af4fff;
  left: 0;
}
/* Псевдокласс - :active  */
.services-button:active {
  background: #000000;
  color: #ffe17f;
  padding: 10px 120px 11px 3px;
  width: 280px;
}
/* О компании - delivery-product*/
.delivery-product-button {
  display: flex;
  align-items: center;
  margin-bottom: 98px;
  box-sizing: border-box;
  outline: 5px solid transparent;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.delivery-icon,
.info-icon {
  position: relative;
}
.delivery-icon {
  background: #ffe17f;
  width: 125px;
  height: 100px;
}
.delivery-icon::before {
  content: "";
  position: absolute;
  background: url(../img/icon/delivery.svg) no-repeat center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.delivery-product-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  flex-grow: 1;
}
.info-icon {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  margin: 29px 30px 31px 42px;
  border-radius: 50%;
  outline: none;
  background: rgba(220, 220, 220, 0.5);
}
.info-icon::after {
  content: "";
  position: absolute;
  background: url(../img/icon/info.svg) no-repeat center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
}
/* Псевдокласс - :hover для .delivery-product-button*/
/* Псевдокласс - :hover  */
.delivery-product-button:hover .delivery-icon {
  background: #ffc700;
}
.delivery-product-button:hover .info-icon {
  background: #dcdcdc;
}
.delivery-product-button:hover .info-icon::after {
  opacity: 1;
}
/* Псевдокласс - :focus  */
.delivery-product-button:focus {
  outline: 5px solid #af4fff;
}
.delivery-product-button:focus .delivery-icon {
  background: #ffe17f;
}
.delivery-product-button:focus .info-icon {
  background: rgba(220, 220, 220, 0.5);
}
.delivery-product-button:focus .info-icon::after {
  opacity: 0.3;
}
/* Псевдокласс - :active */
.delivery-product-button:active {
  outline: 5px solid transparent;
  background: #ebebeb;
}
.delivery-product-button:active .delivery-icon {
  background: #ffc700;
}
.delivery-product-button:active .delivery-icon::before {
  opacity: 0.3;
}
.delivery-product-button:active .info-icon {
  background: #dcdcdc;
}

/* Информация о нас - about-us*/
.about-shop-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 560px);
  column-gap: 40px;
  margin-bottom: 80px;
}
.about-us {
  position: relative;
}
.about-us-title::before {
  content: "";
  width: 80px;
  height: 7px;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
}
.about-us-title,
.contact-title {
  margin: 47px 0px 47px 2px;
}
.about-us-text {
  margin: 0;
  margin-bottom: 31px;
}
.last-text {
  margin: 0;
  margin-bottom: 57px;
}
.about-us-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}
.about-us-item {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
.about-us-delivery {
  display: block;
  padding: 9px 0 0px 23px;
}
.about-us-line::before,
.about-us-sdek::before,
.about-us-berry::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
  position: absolute;
  top: 21px;
  left: 3px;
}
.about-us-list > li {
  padding: 9px 0 0 12px;
  margin: 0;
}
.about-us-berry {
  padding-top: 13px;
}
.about-us-button {
  position: relative;
  margin: 0;
  padding: 15px 18px;
  max-width: 260px;
  box-sizing: border-box;
}
.about-us-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}
/* Псевдокласс - :hover для .about-us-button*/
/* Псевдокласс - :hover  */
.about-us-button:hover {
  background: #ffe17f;
}
/* Псевдокласс - :focus  */
.about-us-button:focus::before {
  background-color: #af4fff;
}
/* Псевдокласс - :active  */
.about-us-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Информация о контактах - contact*/
.contact {
  position: relative;
}
.contact-title::before {
  content: "";
  width: 80px;
  height: 7px;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
}
.contact-text {
  margin: 0;
  margin-bottom: 31px;
}
.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}
.contact-address,
.footer-address,
.footer-address-phone {
  margin: 0;
  font-style: normal;
}
.contact-button {
  margin: 0;
  text-align: left;
  padding: 15px 35px;
  max-width: 260px;
  box-sizing: border-box;
  position: relative;
}
.contacts-address-text {
  margin: 0;
}
.contacts-phone {
  display: block;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}
.contact-schedule-list {
  margin-bottom: 65px;
}
.contact-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}
/* Псевдокласс - :hover для .contact-button*/
/* Псевдокласс - :hover  */
.contact-button:hover {
  background: #ffe17f;
}
/* Псевдокласс - :focus  */
.contact-button:focus::before {
  background-color: #af4fff;
}
/* Псевдокласс - :active  */
.contact-button:active {
  color: rgba(0, 0, 0, 0.3);
}
/* Подписка на рассылку - subscription*/
.subscription {
  padding-bottom: 130px;
}
.subscription-block {
  column-gap: 40px;
}
.subscription-title {
  max-width: 560px;
  margin: 0;
  padding-top: 75px;
  margin-bottom: 61px;
}
.subscription-text {
  max-width: 560px;
  align-self: flex-start;
  margin: 0;
  padding-top: 86px;
}
.subscription-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}
.subscription-form-input {
  font: inherit;
  min-width: 601px;
  padding: 12px 40px 5px 1px;
  margin: 0;
  outline: none;
  color: #444444;
  opacity: 0.5;
  border: 3px solid transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  box-sizing: border-box;
}
.subscription-button {
  font-size: inherit;
  line-height: 21px;
  width: 260px;
  padding: 16px 0 11px 0;
  margin-right: 136px;
  border: none;
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.subscription-button-title {
  display: block;
  padding: 0;
  margin: 0;
}
.subscription-checkbox {
  padding: 0;
  margin: 0;
  padding-left: 35px;
  font-family: inherit;
  color: #444444;
  position: relative;
}
.subscription-checkbox::before {
  content: "";
  background: url(../img/icon/green-checkbox.svg) no-repeat center;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 7px;
  left: 0;
}
/* Псевдокласс - :hover  */
.subscription-form:hover .subscription-form-input {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.subscription-form:hover [placeholder] {
  color: #444444;
  opacity: 0.7;
}
/* Псевдокласс - :focus  !!!!! НЕ РАБОТАЕТ!!!!  */
.subscription-form:focus-within .subscription-form-input {
  background-color: #dcdcdc;
  border-bottom: 3px solid #dcdcdc;
}
.subscription-form:focus-within .subscription-button {
  border: 3px solid #af4fff;
}
/* Псевдокласс - :active */
.subscription-form:active .subscription-form-input {
  border-bottom: 3px solid #000000;
  background-color: transparent;
}
.subscription-form:active [placeholder] {
  opacity: 1;
}
.subscription-form:active .subscription-button {
  border: 3px solid #000000;
}
/* Псевдокласс - :ошибка !!!!! НЕ РАБОТАЕТ!!!!   */
/* .subscription-form {
  border-bottom: 3px solid #ff3d3d;
} */
/* Заключительная часть сайта - page-footer*/
.page-footer {
  color: #ffffff;
  background-color: #444444;
}
.footer-logo {
  display: block;
  padding-top: 62px;
  margin-bottom: 27px; /*в фигме 35px*/
}
.footer-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 36px;
}
.footer-text,
.catalog-filter-head,
.sorting-type-title,
.selected-control,
.breadcrumbs-item-link,
.control-label,
.sorting-type-title,
.pagination-text,
.pagination-number,
.button-show-more,
.pagination-number {
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  margin: 0;
}
.footer-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-right: 61px;
  position: relative;
  left: 115px;
  top: -10px;
}
.footer-navigation-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
  padding: 14px 10px 15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
  position: relative;
}
.footer-item:nth-child(2) .footer-navigation-link {
  position: relative;
  left: 4px;
}
.footer-item:nth-child(3) .footer-navigation-link {
  position: relative;
  left: 8px;
}
.footer-address-phone {
  min-width: 207px;
}
.footer-text-phone {
  position: relative;
  display: block;
  left: 217px;
  top: -6px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  padding: 3px 15px 5px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
}
.footer-social {
  padding-bottom: 29px;
  display: flex;
}
.footer-wrapper-social::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 2px;
  width: 80px;
  height: 7px;
  background: #ffc700;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  top: -3px;
  left: 3px;
}
.social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid transparent;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}
.social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.htmlacademy-link {
  margin-left: 367px;
  padding: 10px;
  outline: none;
}
.htmlacademy-icon {
  position: relative;
  top: -11px;
  left: 15px;
  width: 115px;
  height: 33px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
}
/* Псевдокласс - :hover  */
.footer-navigation-link:hover {
  color: #ffc700;
  padding-bottom: 8px;
}
.footer-navigation-link:hover::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 2px;
  background-color: #ffc700;
}
/* Псевдокласс - :focus */
.footer-navigation-link:focus {
  color: #ffffff;
  border: 2px solid #af4fff;
}
/* Псевдокласс - :active */
.footer-navigation-link:active {
  color: #ffc700;
  padding-bottom: 8px;
  opacity: 0.3;
  border: 2px solid transparent;
}
.footer-navigation-link:active::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 2px;
  background-color: #ffc700;
  opacity: 0.3;
}
/* Псевдокласс - :hover  */
.footer-text-phone:hover {
  color: #ffc700;
}
/* Псевдокласс - :focus !!!!НЕ РАБОТАЕТ!!!!*/
.footer-text-phone:focus {
  border: 2px solid #af4fff;
  color: #ffffff;
}
/* Псевдокласс - :active */
.footer-text-phone:active {
  color: #ffc700;
  opacity: 0.3;
  border: 2px solid transparent;
}
/* Псевдокласс - :hover  */
.social-link:hover {
  background: #ffc700;
}
/* Псевдокласс - :focus */
.social-link:focus {
  border: 5px solid #af4fff;
  background: transparent;
}
.social-link:focus svg {
  stroke: #ffffff;
  fill: #ffffff;
}
/* Псевдокласс - :active */
.social-link:active {
  background: #ffc700;
  border: 5px solid transparent;
}
.social-link:active svg {
  opacity: 0.3;
}
/* Псевдокласс - :hover  */

/* Псевдокласс - :focus */

/* Псевдокласс - :active */
/* Стили для catalog.html */
.page-header-catalog {
  margin-bottom: 37px;
}
.catalog-navigation-list {
  padding: 29px 59px 53px 60px;
}
.inner-header {
  margin-bottom: 49px;
}
.inner-header-title {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  margin-left: 60px;
}
.breadcrumbs-list {
  margin-left: 60px;
}
.breadcrumbs-item-link {
  display: block;
  text-decoration: none;
  opacity: 0.6;
  margin-right: 36px;
}
/* Сортировка */
.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #ebebeb;
}
.sorting-type {
  margin-right: auto;
}
.sorting-button {
  display: block;
  width: 11px;
  height: 10px;
  margin-right: 19px;
  border: 1px solid red;
}

/* Каталог */

.catalog-product {
  display: flex;
}
.catalog-filter {
  margin-right: 72px;
}
.catalog-filter,
.sorting-type,
.pagination-list {
  color: #000000;
  background-color: #ebebeb;
}
.breadcrumbs-item-link,
.catalog-filter-head,
.control-label,
.sorting-type-title,
.pagination-text,
.pagination-number,
.button-show-more {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.catalog-filter-head {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #dcdcdc;
}
.catalog-filter {
  background: #ebebeb;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-transform: capitalize;
}
.range-text {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
  font-size: inherit;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}
.product-card-price {
  line-height: 21px;
}
/* Пагинация */
.pagination-container {
  display: flex;
  flex-direction: column;
}
.button-show-more {
  background: #ffffff;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 51px;
}
.pagination-list {
  display: flex;
  min-height: 70px;
  justify-content: space-around;
  align-items: center;
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
}
.pagination-item:not(:last-child) {
  margin-right: 28px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
}
.sorting-type-title,
.pagination-text {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.pagination-number {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
