@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Стили для html.html */
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container,
.footer-wrapper-social {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}

.header-container,
.page-container,
.footer-container {
  width: 1160px;
  margin: 0 auto;
  z-index: 0;
}

.page-header {
  position: relative;
  z-index: 2;
}

.header-logo-image {
  display: block;
  margin-left: 60px;
}

.user-navigation-list,
.slider-pagination-list,
.slider-text-list,
.main-navigation-list,
.subcatalog-list,
.category-product-list,
.services-list,
.about-us-list,
.contact-schedule-list,
.footer-list,
.footer-social-list,
.breadcrumbs-list,
.catalog-filter-list,
.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user-navigation-list,
.main-navigation-list,
.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.user-navigation-link,
.pagination-button,
.main-navigation-link,
.subcatalog-link {
  display: block;
}

.header-container,
.user-navigation-link,
.main-navigation-link {
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
}

.main-navigation-link,
.footer-navigation-link,
.slider-slogan,
.services-link-title,
.about-us-title,
.contact-title,
.subscription-title,
.inner-header-title,
.button,
.category-product-title,
.delivery-product-button,
.catalog-filter-head,
.sorting-type-title,
.pagination-text,
.modal-title {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

.main-navigation-link,
.footer-navigation-link,
.appoinment-submit {
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slider-slogan,
.services-link-title,
.about-us-title,
.contact-title,
.subscription-title,
.inner-header-title,
.modal-title {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.button {
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.slider,
.about-shop-container,
.subscription-block,
.subscription-form,
.footer-social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item-link,
.product-card-link,
.pagination-link {
  text-decoration: none;
}

/* <!-- Вводная часть сайта --> */
.header-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
}

.header-logo-image {
  position: absolute;
  display: block;
  top: -25px;
  left: 2px;
}

/* Пользовательское меню - user-navigation-list */
.user-navigation {
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 42px;
  margin-bottom: 15px;
}

.user-navigation-link {
  display: flex;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
  width: 500px;
}

.search-icon {
  position: absolute;
  top: 0;
  left: 16px;
  bottom: 0;
  margin: auto;
  display: block;
}

.search-input {
  width: 500px;
  height: 40px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  background: none;
  opacity: 0.3;
  flex-grow: 1;
  position: relative;
  padding: 10px 160px 10px 52px;
  border: 2px solid transparent;
  border-radius: 20px;
  margin: 0;
}

.search-button {
  position: absolute;
  height: 40px;
  right: 0;
  top: 0;
  margin: auto;
  box-sizing: border-box;
  width: 160px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 21px;
}

.navigation-user-item {
  position: relative;
}

.login-title {
  max-width: 117px;
  padding: 10px 21px 10px 41px;
  margin-right: 141px;
  background: url("../img/icon/login.svg") no-repeat 16px center;
}

.compare-title {
  max-width: 136px;
  padding: 10px 21px 10px 41px;
  margin-right: 15px;
  background: url("../img/icon/compare.svg") no-repeat 21px center;
}

.basket-title {
  max-width: 131px;
  padding: 10px 21px 10px 44px;
  background: url("../img/icon/basket.svg") no-repeat 3px center;
}

/* Псевдокласс*/
/* Search  */
.search-status:hover {
  opacity: 0.6;
}

.search-status:focus {
  opacity: 1;
  border-color: #af4fff;
  outline: none;
}

.search-status:active {
  opacity: 0.3;
  border-color: transparent;
}

.search-input:focus {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:active {
  opacity: 1;
  border: 2px solid #000000;
}

.search-input:focus + .search-button {
  display: block;
}

.search-input:active + .search-button {
  display: block;
}

.search-button:hover {
  display: block;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0 20px 20px 0;
}

.search-button:focus {
  display: block;
  border: 2px solid #af4fff;
  border-radius: 0 20px 20px 0;
  outline: none;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 0 20px 20px 0;
  border: none;
}

.user-navigation-link:hover:not(.search-form) {
  opacity: 0.6;
}

.user-navigation-link:focus:not(.search-form) {
  border: 2px solid #af4fff;
  box-sizing: border-box;
  border-radius: 20px;
}

.user-navigation-link:active:not(.search-form) {
  opacity: 0.3;
  border: 2px solid transparent;
}

/* Поповер */
.popover {
  display: none;
}

.popover::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 52px;
  left: 0;
  bottom: 0;
  right: 73px;
  margin: auto;
  background-color: #000000;
  transform: rotate(45deg);
}

.popover-button {
  font-family: "Raleway", sans-serif;
  font-size: inherit;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2em;
}

.popover-close-button {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 131px;
  height: 40px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
  outline: none;
}

.popover-content {
  min-height: 100%;
  transform: translate(60px, 14px);
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  padding: 20px;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 3;
}

.card-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cart-item {
  display: grid;
  grid-template-columns: 244px 18px 11px;
  margin-bottom: 40px;
  position: relative;
}

.cart-item::after {
  content: "";
  height: 1px;
  width: 320px;
  background-color: #ffffff;
  opacity: 0.1;
  position: absolute;
  left: -20px;
  bottom: -20px;
}

.cart-item:last-child {
  margin-bottom: 20px;
}

.cart-item-icon {
  display: block;
  min-width: 41px;
  min-height: 43px;
  outline: 5px solid transparent;
  box-sizing: border-box;
}

.monopod-1 {
  background: url("../img/products/product-1.jpg") no-repeat center;
  background-size: cover;
}

.monopod-2 {
  background: url("../img/products/product-2.jpg") no-repeat center;
  background-size: cover;
}

.cart-item-link {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.cart-item-title {
  margin: 0;
  padding: 0;
  color: inherit;
  padding-left: 23px;
  padding-right: 18px;
  align-self: center;
}

.cart-item-button {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
}

.card-total {
  display: flex;
  justify-content: space-between;
  background: #1a1a1a;
  padding: 0 20px;
  width: 320px;
  transform: translateX(-20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

.card-total-number,
.card-total-price {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 13px 0;
}

.cart-button-open {
  display: block;
  padding: 15px 0;
  background: #ffffff;
  outline: 5px solid transparent;
  letter-spacing: 0.35em;
}

.popover-close-button:hover {
  background-color: rgba(255, 225, 127, 0.3);
}

.popover-close-button:focus {
  border: 2px solid #af4fff;
}

.popover-close-button:active {
  background-color: rgba(255, 225, 127, 0.6);
  border: none;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-link:focus .cart-item-icon {
  outline: 5px solid #af4fff;
}

.cart-item-link:focus .cart-item-title {
  color: #af4fff;
}

.cart-item-button:focus {
  border: 2px solid #af4fff;
  opacity: 1;
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-item-button:active {
  opacity: 0.3;
}

.cart-item-link:active .cart-item-icon {
  outline: 5px solid transparent;
}

.cart-item-link:active .cart-item-title {
  color: inherit;
}

.cart-button-open:hover {
  background-color: #ffe17f;
}

.cart-button-open:focus {
  background-color: #ffffff;
  outline: 5px solid #af4fff;
}

.cart-button-open:focus .button-open-title {
  color: inherit;
  opacity: 1;
}

.cart-button-open:active .button-open-title {
  opacity: 0.3;
}

.cart-button-open:active {
  outline: 5px solid transparent;
  background-color: #ffe17f;
}

/* Основное меню - main-navigation*/
.main-navigation-item {
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  position: relative;
}

.main-navigation-link {
  margin: 0;
  padding: 0;
  padding: 14px 17px 15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
}

.catalog-item {
  min-width: 263px;
  margin-left: 42px;
  margin-right: 276px;
}

.catalog-title {
  position: relative;
}

.catalog-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 259px;
  width: 45px;
  height: 45px;
  opacity: 0.2;
  border: 2px solid #000000;
  border-radius: 50%;
  background: url("../img/icon/catalog-plus.svg") no-repeat center center;
}

.delivery-item {
  margin-right: -8px;
}

.warranty-item {
  margin-right: 53px;
}

.contacts-title {
  text-align: right;
}

.subcatalog-list {
  visibility: hidden;
  width: 1160px;
  position: absolute;
  left: -42px;
  padding-top: 26px;
  padding-left: 53px;
  padding-bottom: 49px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(3, max-content);
  gap: 5px 32px;
  grid-template-areas:
    "virtual fitness-bracelets quadrocopters"
    "monopods smart-watches ."
    "action-cameras . .";
  background-color: #ffe17f;
  box-sizing: border-box;
}

.virtual-reality-item {
  grid-area: virtual;
}

.monopods-item {
  grid-area: monopods;
}

.action-cameras-item {
  grid-area: action-cameras;
}

.fitness-bracelets-item {
  grid-area: fitness-bracelets;
}

.smart-watches-item {
  grid-area: smart-watches;
}

.quadrocopters-item {
  grid-area: quadrocopters;
}

.quadrocopters-title {
  position: relative;
  left: 15px;
}

.subcatalog-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 25px;
  box-sizing: border-box;
  display: block;
  outline: none;
}

.catalog-item:hover .catalog-title::after {
  opacity: 1;
  background: url("../img/icon/catalog-minus.svg") no-repeat center center;
}

.catalog-item:hover .subcatalog-list {
  visibility: visible;
}

.main-navigation-link:hover:not(.catalog-title)::before {
  content: "";
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: 10px;
  height: 2px;
  background-color: #000000;
}

.main-navigation-link:focus {
  border: 2px solid #af4fff;
  position: relative;
  z-index: 1;
}

.main-navigation-item:focus-within .subcatalog-list {
  visibility: visible;
}

.main-navigation-link:active {
  border: 2px solid transparent;
  opacity: 0.3;
}

.main-navigation-link:active .catalog-title::after {
  opacity: 0.3;
  background: url("../img/icon/catalog-minus.svg") no-repeat center center;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:focus {
  border: 2px solid #af4fff;
}

.subcatalog-link:active {
  border: 2px solid transparent;
  opacity: 0.3;
}

/* Слайдер в две колонки - slider*/
.carousel {
  position: relative;
  margin-bottom: 49px;
}

.carousel-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel-navigation-arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  width: 560px;
  justify-content: space-between;
  z-index: 2;
}

.slider {
  display: grid;
  grid-template-columns: 560px 560px;
  grid-template-rows: 150px auto;
  align-items: start;
  column-gap: 40px;
  position: relative;
}

.container-background {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: #ffe17f;
  width: 100%;
  height: 100%;
}

.slider-column-left {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
}

.slider-column-right {
  position: relative;
  top: -59px;
  left: -2px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.slider-fitness-bracelet,
.slider-monopod {
  display: none;
}

.slider-image {
  position: absolute;
  top: -150px;
}

.slider-button {
  border: 2px solid transparent;
  outline: none;
  box-sizing: border-box;
  border-radius: 6px;
  position: absolute;
  width: 40px;
  height: 80px;
  padding: 10px;
  cursor: pointer;
}

.slider-prev {
  top: 240px;
  left: 7px;
  background: url("../img/icon/left-tall-arrow.svg") no-repeat center center;
}

.slider-next {
  top: 240px;
  right: 7px;
  transform: rotate(180deg);
  background: url("../img/icon/left-tall-arrow.svg") no-repeat center center;
}

.slider-text-list {
  list-style-type: none;
  position: relative;
}

.slider-text-item::before {
  content: "01";
  font-family: inherit;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  right: -2px;
  top: -67px;
  margin-top: 29px;
  margin-right: 49px;
}

.fitbracelet-item::before {
  content: "02";
}

.monopod-item::before {
  content: "03";
}

.slider-slogan {
  position: relative;
  left: 2px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 28px;
}

.slider-text {
  position: relative;
  left: 2px;
  margin: 0;
  margin-bottom: 38px;
}

.detailed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 53px;
}

.detailed-button {
  left: 3px;
  display: block;
  margin: 0;
  padding: 15px 0;
  min-width: 220px;
  position: relative;
  outline: none;
}

.detailed-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 60px;
  position: absolute;
  bottom: 204px;
  right: 0;
}

.slider-pagination-item {
  margin-right: 21px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  outline: none;
}

.pagination-button-current {
  background: #000000;
}

.characteristic-product {
  position: relative;
  left: -20px;
  border-spacing: 20px 0;
}

.product-row-title > td {
  padding-bottom: 9px;
}

.product-row-title {
  font-size: 36px;
  color: #000000;
}

.product-row-data {
  font-size: 16px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  border: 2px solid #af4fff;
}

.slider-button:active {
  opacity: 0.3;
  border: 2px solid transparent;
}

.detailed-button:hover {
  background: #ffe17f;
}

.detailed-button:focus::before {
  background-color: #af4fff;
}

.detailed-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-button:hover {
  background: #ffffff;
  opacity: 0.6;
  border: 2px solid #000000;
}

.pagination-button:focus {
  background: #ffffff;
  border: 2px solid #af4fff;
}

.pagination-button:active {
  background: #ffffff;
  opacity: 0.3;
  border: 2px solid #000000;
}

.category {
  left: 1px;
  margin-bottom: 180px;
}

.category-product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  gap: 40px;
}

.product-item-link {
  display: block;
  outline: none;
}

.virtual-reality,
.image-monopods,
.action-cameras,
.fitness-bracelets,
.smart-watches,
.quadrocopters {
  width: 160px;
  height: 160px;
}

.virtual-reality {
  background: url("../img/category/virtual-reality.svg") no-repeat center;
}

.image-monopods {
  background: url("../img/category/monopods-for-selfies.svg") no-repeat center
    bottom;
}

.action-cameras {
  background: url("../img/category/action-cameras.svg") no-repeat center;
}

.fitness-bracelets {
  background: url("../img/category/fitness-bracelets.svg") no-repeat center;
}

.smart-watches {
  background: url("../img/category/smart-watches.svg") no-repeat center;
}

.quadrocopters {
  background: url("../img/category/quadrocopters.svg") no-repeat center;
}

.product-item-box {
  display: block;
  background-color: #ffe17f;
  outline: 5px solid transparent;
  box-sizing: border-box;
  margin-bottom: 33px;
  outline: none;
}

.category-product-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
  padding: 0;
  margin: 0;
}

.product-item-link {
  pointer-events: none;
}

.product-item-box,
.category-product-title {
  pointer-events: auto;
}

.product-item-link:hover .product-item-box {
  background: #ffc700;
}

.product-item-link:focus .product-item-box {
  background-color: #ffe17f;
  outline: 5px solid #af4fff;
}

.product-item-link:focus .category-product-title {
  color: #af4fff;
}

.product-item-link:active .product-item-box {
  background: #ffc700;
  outline: 5px solid transparent;
}

.product-item-link:active .product-item-box {
  background: #ffc700;
  outline: 5px solid transparent;
}

.product-item-link:active .product-item-image {
  opacity: 0.3;
}

.product-item-link:active .category-product-title {
  color: #000000;
  opacity: 0.3;
}

/* Сервисы - services*/
.services,
.delivery-product-button,
.subscription {
  color: #000000;
  background-color: #f0f0f0;
  z-index: 0;
  position: relative;
}

.services {
  margin-bottom: 90px;
}

.services-block {
  display: flex;
}

.services-list {
  position: relative;
  top: -18px;
}

.services-list::after {
  content: "";
  position: absolute;
  top: -79px;
  left: 277px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.services-button {
  display: block;
  position: relative;
  width: 280px;
  text-align: center;
  padding: 10px 120px 11px 3px;
  margin-bottom: 24px;
  box-sizing: border-box;
  outline: none;
}

.services-button::before {
  content: "";
  position: absolute;
  left: -121px;
  top: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
  width: 160px;
  height: 8px;
  background-color: #ffe17f;
  z-index: -1;
}

.services-content {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: -78px;
  left: 122px;
}

.services-content-item {
  display: none;
}

.services-delivery-current {
  background: #000000;
  color: #ffe17f;
  padding: 10px 120px 11px 3px;
  width: 280px;
}

.services-content-delivery {
  display: block;
}

.services-text {
  position: relative;
  left: 119px;
  top: -61px;
  margin: 0;
  padding: 0;
}

.services-link-text {
  position: relative;
  top: -16px;
  padding-bottom: 30px;
}

.services-button-delivery::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  top: 6px;
  left: 957px;
  background: url("../img/services/delivery.svg") no-repeat center;
}

.services-button-guarantee::after {
  content: "";
  position: absolute;
  display: none;
  width: 136px;
  height: 164px;
  top: 6px;
  left: 957px;
  background: url("../img/services/guarantee.svg") no-repeat center;
  display: none;
}

.services-button-credit::after {
  content: "";
  position: absolute;
  display: none;
  width: 136px;
  height: 164px;
  top: 6px;
  left: 957px;
  background: url("../img/services/credit.svg") no-repeat center;
  display: none;
}

.services-button:hover {
  background: #ffc700;
  width: 160px;
  padding: 10px 18px 11px 18px;
  box-sizing: border-box;
}

.services-button:hover::before {
  background: transparent;
}

.services-button:focus {
  background: transparent;
  width: 160px;
  padding: 10px 18px 11px 18px;
  box-sizing: border-box;
  color: #000000;
}

.services-button:focus::before {
  background: #af4fff;
  left: 0;
}

.services-button:active {
  background: #000000;
  color: #ffe17f;
  padding: 10px 120px 11px 3px;
  width: 280px;
}

.services-button-delivery:active {
  background: #000000;
  color: #ffe17f;
  padding: 10px 120px 11px 3px;
  width: 280px;
}

/* О компании - delivery-product*/
.delivery-product-button {
  display: flex;
  align-items: center;
  margin-bottom: 98px;
  box-sizing: border-box;
  outline: 5px solid transparent;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.delivery-icon,
.info-icon {
  position: relative;
}

.delivery-icon {
  background: #ffe17f;
  width: 125px;
  height: 100px;
}

.delivery-icon::before {
  content: "";
  position: absolute;
  background: url("../img/icon/delivery.svg") no-repeat center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.delivery-product-title {
  font-family: Raleway;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  flex-grow: 1;
}

.info-icon {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  margin: 31px 33px 31px 50px;
  border-radius: 50%;
  outline: none;
  background: rgba(220, 220, 220, 0.5);
}

.info-icon::after {
  content: "";
  position: absolute;
  background: url("../img/icon/info.svg") no-repeat center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
}

.delivery-product-button:hover .delivery-icon {
  background: #ffc700;
}

.delivery-product-button:hover .info-icon {
  background: #dcdcdc;
}

.delivery-product-button:hover .info-icon::after {
  opacity: 1;
}

.delivery-product-button:focus {
  outline: 5px solid #af4fff;
}

.delivery-product-button:focus .delivery-icon {
  background: #ffe17f;
}

.delivery-product-button:focus .info-icon {
  background: rgba(220, 220, 220, 0.5);
}

.delivery-product-button:focus .info-icon::after {
  opacity: 0.3;
}

.delivery-product-button:active {
  outline: 5px solid transparent;
  background: #ebebeb;
}

.delivery-product-button:active .delivery-icon {
  background: #ffc700;
}

.delivery-product-button:active .delivery-icon::before {
  opacity: 0.3;
}

.delivery-product-button:active .info-icon {
  background: #dcdcdc;
}

/* Информация о нас - about-us*/
.about-shop-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 560px);
  column-gap: 40px;
  margin-bottom: 80px;
}

.about-us {
  position: relative;
}

.about-us-title::before {
  content: "";
  width: 80px;
  height: 7px;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
}

.about-us-title,
.contact-title {
  margin: 48px 0px 47px 0;
}

.about-us-text {
  margin: 0;
  margin-bottom: 31px;
}

.last-text {
  margin: 0;
  margin-bottom: 55px;
}

.about-us-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
}

.about-us-item {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.about-us-delivery {
  display: block;
  padding: 9px 0 0px 23px;
}

.about-us-line::before,
.about-us-sdek::before,
.about-us-berry::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
  position: absolute;
  top: 24px;
  left: 1px;
}

.about-us-list > li {
  padding: 9px 0 0 12px;
  margin: 0;
}

.about-us-berry {
  padding-top: 13px;
}

.about-us-button {
  position: relative;
  margin: 0;
  padding: 15px 18px;
  max-width: 260px;
  box-sizing: border-box;
  outline: none;
}

.about-us-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}

.about-us-button:hover {
  background: #ffe17f;
}

.about-us-button:focus::before {
  background-color: #af4fff;
}

.about-us-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Информация о контактах - contact*/
.contact {
  position: relative;
}

.contact-title::before {
  content: "";
  width: 80px;
  height: 7px;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
}

.contact-text {
  margin: 0;
  margin-bottom: 31px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 13px;
}

.contact-address,
.footer-address,
.footer-address-phone {
  margin: 0;
  font-style: normal;
}

.contact-button {
  margin: 0;
  text-align: left;
  padding: 15px 35px;
  max-width: 260px;
  box-sizing: border-box;
  position: relative;
  outline: none;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  display: block;
  color: #444444;
  margin: 0;
  margin-bottom: 30px;
}

.contact-schedule-list {
  margin-bottom: 65px;
}

.contact-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}

.contact-button:hover {
  background: #ffe17f;
}

.contact-button:focus::before {
  background-color: #af4fff;
}

.contact-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.subscription {
  padding-bottom: 130px;
}

.subscription-block {
  column-gap: 40px;
}

.subscription-title {
  max-width: 560px;
  margin: 0;
  padding-top: 75px;
  margin-bottom: 61px;
}

.subscription-text {
  max-width: 560px;
  align-self: flex-start;
  margin: 0;
  padding-top: 86px;
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.subscription-form-input {
  font: inherit;
  min-width: 601px;
  padding: 10px 40px 7px 0;
  margin: 0;
  outline: none;
  color: #444444;
  opacity: 0.5;
  border: 3px solid transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.subscription-button {
  font-size: inherit;
  line-height: 21px;
  width: 260px;
  padding: 16px 0 11px 0;
  margin-right: 136px;
  border: none;
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.subscription-button-title {
  display: block;
  padding: 0;
  margin: 0;
}

.subscription-checkbox {
  padding: 0;
  margin: 0;
  padding-left: 35px;
  font-family: inherit;
  color: #444444;
  position: relative;
}

.subscription-checkbox::before {
  content: "";
  background: url("../img/icon/green-checkbox.svg") no-repeat center;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 7px;
  left: 0;
}

.subscription-form:hover .subscription-form-input {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscription-form:hover [placeholder] {
  color: #444444;
  opacity: 0.7;
}

.subscription-form:hover .subscription-button {
  background: #000000;
}

.subscription-form:hover .subscription-button-title {
  color: #ffffff;
}

.subscription-form:focus-within .subscription-form-input {
  background-color: #dcdcdc;
  border-bottom: 3px solid #dcdcdc;
}

.subscription-form:focus-within .subscription-button {
  border: 3px solid #af4fff;
}

.subscription-form:active .subscription-form-input {
  border-bottom: 3px solid #000000;
  background-color: transparent;
}

.subscription-form:active [placeholder] {
  opacity: 1;
}

.subscription-form:active .subscription-button {
  background: #000000;
  border: 3px solid #000000;
}

.subscription-form:active .subscription-button-title {
  color: #ffffff;
  opacity: 0.3;
}
/* Псевдокласс - :ошибка */
/* Создала класс .error дфлее с помощью JS будет подсвечиваться форма по стайлгайду */
.subscription-form-error + .subscription-form-input {
  border-bottom: 3px solid #ff3d3d;
  background-color: transparent;
}

/* Заключительная часть сайта - page-footer*/
.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.footer-logo {
  display: block;
  padding-top: 62px;
  margin-bottom: 27px;
  outline: none;
}

.footer-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: 36px;
}

.footer-text,
.catalog-filter-head,
.sorting-type-title,
.selected-control,
.breadcrumbs-item-link,
.control-label,
.sorting-type-title,
.pagination-text,
.pagination-number,
.button-show-more,
.pagination-number {
  font-size: 16px;
  line-height: 19px;
  padding: 0;
  margin: 0;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-right: 61px;
  position: relative;
  left: 115px;
  top: -10px;
}

.footer-navigation-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
  padding: 14px 10px 15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
  position: relative;
  outline: none;
}

.footer-item:nth-child(2) .footer-navigation-link {
  position: relative;
  left: 4px;
}

.footer-item:nth-child(3) .footer-navigation-link {
  position: relative;
  left: 8px;
}

.footer-address-phone {
  min-width: 207px;
}

.footer-text-phone {
  position: relative;
  display: block;
  left: 217px;
  top: -6px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  padding: 3px 15px 5px;
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
  outline: none;
}

.footer-social {
  padding-bottom: 29px;
  display: flex;
}

.footer-wrapper-social::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 2px;
  width: 80px;
  height: 7px;
  background: #ffc700;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  top: -3px;
  left: 3px;
}

.social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid transparent;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  outline: none;
}

.social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.htmlacademy-link {
  position: relative;
  top: -11px;
  left: 15px;
  margin-left: 367px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}

.htmlacademy-icon {
  display: block;
  width: 115px;
  height: 33px;
  padding: 10px;
}

.footer-navigation-link:hover {
  color: #ffc700;
  padding-bottom: 8px;
}

.footer-navigation-link:hover::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 2px;
  background-color: #ffc700;
}

.footer-navigation-link:focus {
  color: #ffffff;
  border: 2px solid #af4fff;
}

.footer-navigation-link:active {
  color: #ffc700;
  padding-bottom: 8px;
  opacity: 0.3;
  border: 2px solid transparent;
}

.footer-navigation-link:active::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 2px;
  background-color: #ffc700;
  opacity: 0.3;
}

.footer-text-phone:hover {
  color: #ffc700;
}

.footer-text-phone:focus {
  border: 2px solid #af4fff;
  color: #ffffff;
}

.footer-text-phone:active {
  color: #ffc700;
  opacity: 0.3;
  border: 2px solid transparent;
}

.social-link:hover {
  background: #ffc700;
}

.social-link:hover .social-icon {
  fill: #444444;
}

.social-link:focus {
  border: 5px solid #af4fff;
  background: transparent;
}

.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-link:active {
  background: #ffc700;
  border: 5px solid transparent;
}

.social-link:active .social-icon {
  opacity: 0.3;
  fill: #444444;
}

.htmlacademy-link:hover .htmlacademy-icon {
  fill: #ffffff;
}

.htmlacademy-link:focus {
  border: 2px solid #af4fff;
}

.htmlacademy-link:active {
  fill: #ffffff;
  opacity: 0.3;
  border: 2px solid transparent;
}

/* Стили для catalog.html */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-inner {
  flex-grow: 1;
}

.page-header-catalog {
  position: relative;
  top: 3px;
  left: -1px;
  margin-bottom: 41px;
}

.user-navigation-catalog {
  margin-left: 42px;
}

.search-form-catalog {
  margin-right: 21px;
}

.login-title-catalog {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
  margin-left: 42px;
  margin-right: 5px;
  min-width: 250px;
  padding-top: 13px;
}
.title-catalog {
  display: block;
  margin-right: 28px;
}

.main-navigation-catalog {
  margin-bottom: 35px;
}

.login-catalog {
  opacity: 0.3;
}

.inner-header {
  margin-bottom: 43px;
}

.inner-header-title {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  margin-left: 60px;
}

.breadcrumbs-list {
  margin-left: 47px;
}

.breadcrumbs-item-link {
  display: block;
  text-decoration: none;
  opacity: 0.6;
  margin-right: 11px;
  padding: 5px 12px;
  outline: 5px solid transparent;
  box-sizing: border-box;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:first-child::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  left: 89px;
  bottom: 0;
  margin: auto;
  width: 4px;
  height: 7px;
  background: url("../img/breadcrumbs-icon.svg") no-repeat center;
  opacity: 0.3;
}

.breadcrumbs-item:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  left: 154px;
  bottom: 0;
  margin: auto;
  width: 4px;
  height: 7px;
  background: url("../img/breadcrumbs-icon.svg") no-repeat center;
  opacity: 0.3;
}

.breadcrumbs-item-link:hover {
  opacity: 1;
}

.breadcrumbs-item-link:focus {
  outline: 5px solid #af4fff;
}

.breadcrumbs-item-link:active {
  opacity: 0.3;
  outline: 5px solid transparent;
}

.filter-container {
  display: flex;
  position: relative;
  z-index: 1;
}

.filter-left-column {
  width: calc(50% - 580px + 328px);
  padding-left: calc(50% - 581px);
  padding-right: 70px;
  min-width: 328px;
  box-sizing: border-box;
  display: flex;
  background: #dcdcdc;
  align-items: center;
  position: relative;
  z-index: -3;
}

.filter-head {
  padding: 20px 32px 20px 60px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  color: #000;
}

.sorting-right-column {
  width: calc(50% - 580px + 832px);
  min-width: 832px;
  padding-right: calc(50% - 581px);
  padding-left: 72px;
  box-sizing: border-box;
  background: #ebebeb;
}

.sorting-header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.sorting-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-type-title {
  margin-right: 36px;
}

.selected-control {
  min-width: 217px;
  outline: 5px solid transparent;
  font: inherit;
  font-size: 16px;
  line-height: 19px;
  padding: 4px 41px 7px 13px;
  background-color: transparent;
  background: url("../img/filter/select-arrow.svg") no-repeat 191px center;
  appearance: none;
  border: none;
  margin-right: 301px;
}

.sorting-button-container {
  display: flex;
}

.sorting-button {
  opacity: 0.2;
  box-sizing: border-box;
  display: block;
  width: 30px;
  height: 30px;
  outline: 5px solid transparent;
}

.sorting-button-icon {
  width: 11px;
  height: 10px;
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.sorting-button-active {
  opacity: 1;
  transform: rotate(180deg);
}

.selected-control:hover {
  opacity: 0.6;
}

.selected-control:focus {
  outline: 5px solid #af4fff;
}

.selected-control:active {
  opacity: 0.3;
  outline: 5px solid transparent;
}

.sorting-button:hover {
  opacity: 0.5;
}

.sorting-button:focus {
  outline: 5px solid #af4fff;
  opacity: 1;
}

.sorting-button:focus .sorting-button-icon {
  opacity: 0.2;
}

.sorting-button:active {
  opacity: 1;
  outline: 5px solid transparent;
}

.sorting-button:active .sorting-button-icon {
  opacity: 1;
}

/* Сортировка */
.sorting-container {
  display: flex;
  flex-direction: column;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 47px 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 71px;
  margin-left: 71px;
  margin-bottom: 44px;
}

.product-title-link {
  text-decoration: none;
  display: block;
  outline: none;
}

.product-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 380px min-content;
  row-gap: 32px;
  position: relative;
}

.product-card-link {
  grid-column: 1/-1;
  position: relative;
  outline: none;
}

.product-card-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  display: none;
}
.product-card-new {
  position: absolute;
  top: 26px;
  right: 25px;
  z-index: 1;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}
.product-card-image {
  outline: 5px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.product-card-price {
  text-align: right;
  outline: none;
}

.breadcrumbs-item-link,
.catalog-filter-head,
.control-label,
.sorting-type-title,
.pagination-text,
.pagination-number,
.button-show-more {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
  font-size: inherit;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  margin: 0;
}

.product-card-price {
  line-height: 21px;
  margin: 0;
  color: inherit;
}

.button-show-more {
  background: #ffffff;
  text-transform: uppercase;
  color: #000000;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-left: 72px;
  margin-bottom: 50px;
  outline: 2px solid transparent;
  position: relative;
  top: 2px;
  left: 2px;
}

/* Пагинация */
.pagination {
  display: flex;
  justify-content: space-between;
  background-color: #ebebeb;
  margin-left: 72px;
  margin-bottom: 77px;
  box-sizing: border-box;
}

.pagination-list {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 169px;
}

.pagination-link {
  display: block;
  cursor: pointer;
  outline: 5px solid transparent;
  box-sizing: border-box;
}

.pagination-disabled {
  margin-right: 22px;
}

.pagination-text {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-left: 29px;
  padding-right: 29px;
}

.pagination-next {
  padding-right: 26px;
}

.sorting-type-title,
.pagination-text {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-number {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  padding: 15px;
  outline: 5px solid transparent;
  box-sizing: border-box;
}

.catalog-filter-head {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-transform: capitalize;
}

.range-text {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.card-button {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  padding: 15px 17px;
  box-sizing: border-box;
  display: none;
}

.card-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: #ffc700;
}

.product-card:hover .card-button {
  display: block;
}

.product-card:hover .product-card-link::before {
  display: block;
}

.card-button:hover::before {
  transform: scaleY(6.3);
  left: 0;
  top: 40%;
}

.product-card:focus .card-button {
  display: none;
}

.product-card:focus-within .product-card-title {
  color: #af4fff;
}

.product-card:focus-within .product-card-price {
  color: #af4fff;
}

.product-card:focus-within .product-card-image {
  outline: 5px solid #af4fff;
}

.product-card:active .card-button-title {
  opacity: 0.2;
}

.product-card:active .product-card-title {
  color: #000000;
}

.product-card:active .product-card-price {
  color: inherit;
}

.product-card:active .product-card-image {
  outline: 5px solid transparent;
}

.button-show-more:hover {
  border-color: #000000;
}

.button-show-more:focus {
  opacity: 1;
  border: 3px solid #af4fff;
  outline: 2px solid #af4fff;
}

.button-show-more:active {
  opacity: 0.3;
  border: 3px solid #000000;
  outline: 2px solid transparent;
}

.pagination-link:hover {
  background-color: #dcdcdc;
}

.pagination-link:hover .pagination-number {
  opacity: 1;
}

.pagination-link:focus {
  background-color: #f0f0f0;
  outline: 5px solid #af4fff;
  outline-offset: -5px;
}

.pagination-link:active {
  opacity: 0.3;
}

.pagination-link:active {
  opacity: 0.1;
}

/* Фильтр */
.filter-left-block {
  background: #ebebeb;
  padding-top: 70px;
  align-items: flex-start;
  position: relative;
  z-index: -2;
}

.catalog-filter {
  padding-left: 60px;
}

.catalog-filter {
  position: relative;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
}

.filter-group-range {
  margin-bottom: 34px;
}

.filter-group-checkbox {
  margin-bottom: 39px;
}

.filter-group-radio {
  margin-bottom: 33px;
}

.catalog-filter-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 200px;
  background-color: #000000;
}

.catalog-filter-title {
  padding-top: 14px;
  margin-bottom: 12px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 80%;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.toggle-min {
  top: -9px;
  outline: none;
}

.toggle-max {
  top: -9px;
  right: -9px;
  outline: none;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
  margin-right: 60px;
  opacity: 0.3;
  color: #000000;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  left: -7px;
}

.range-input {
  width: 17px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 10px;
}

.control-mark-checkbox,
.control-mark {
  position: absolute;
  top: 6px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  opacity: 0.2;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox {
  opacity: 1;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 10px;
  width: 10px;
  background: url("../img/filter/checkbox-black.svg") no-repeat center;
}

.control-input[type="radio"]:checked + .control-mark {
  border-radius: 50%;
  opacity: 1;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  opacity: 0.2;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #242424;
}

.catalog-filter-button {
  position: relative;
  left: 3px;
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0;
  padding: 15px 0;
  min-width: 200px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.catalog-filter-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffe17f;
  z-index: -1;
}

.range-toggle:focus {
  border: 2px solid #af4fff;
}

.range-input:focus {
  color: #af4fff;
}
.catalog-filter-label:focus {
  color: #af4fff;
}
.range-toggle:active {
  border: 2px solid #000000;
  background-color: #000000;
}

.range-input:active {
  color: #000000;
}

.catalog-filter-label:active {
  color: #000000;
  opacity: 1;
}

.control:hover .control-input[type="checkbox"]:checked + .control-mark,
.control:hover
  .control-input[type="checkbox"]:checked
  + .control-mark-checkbox::before,
.control:hover .control-input[type="checkbox"]:checked ~ .control-label {
  opacity: 0.5;
}

.control-input[type="checkbox"]:focus + .control-mark-checkbox {
  border: 2px solid #af4fff;
  opacity: 1;
}

.control-input[type="checkbox"]:focus + .control-mark-checkbox::before {
  background: transparent;
}

.control-input[checked]:focus + .control-mark-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 10px;
  width: 10px;
  background: url("../img/filter/checkbox-color.svg") no-repeat center;
}

.control-input[type="checkbox"]:focus ~ .control-label {
  color: #af4fff;
  opacity: 1;
}

.control:active {
  opacity: 0.2;
}

.control:hover .control-input[type="radio"]:checked + .control-mark,
.control:hover .control-input[type="radio"]:checked + .control-mark::before,
.control:hover .control-input[type="radio"]:checked ~ .control-label {
  opacity: 0.5;
}

.control-input[type="radio"]:focus + .control-mark {
  border: 2px solid #af4fff;
  opacity: 1;
}

.control-input[type="radio"]:focus + .control-mark::before {
  background-color: transparent;
}

.control-input[checked]:focus + .control-mark::before {
  background-color: #af4fff;
}

.control-input[type="radio"]:focus ~ .control-label {
  color: #af4fff;
  opacity: 1;
}

.control:active .control-label {
  opacity: 0.2;
}

.control:active .control-mark {
  border-color: rgba(0, 0, 0, 0.2);
}

.control:active .control-input[type="radio"]:checked + .control-mark::before {
  opacity: 0.2;
}

.catalog-filter-button:hover {
  background: #ffe17f;
}

.catalog-filter-button:focus::before {
  background-color: #af4fff;
}

.catalog-filter-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Модальное окно */
.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  z-index: 4;
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background: #ffffff;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-auth {
  width: 920px;
}

.modal-close-button {
  position: absolute;
  top: 67px;
  right: 58px;
  background: url("../img/modal-window/modal-close-icon.svg") no-repeat center;
  width: 50px;
  height: 50px;
  display: block;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 69px;
}

.auht-form-container {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  gap: 15px 40px;
  margin-bottom: 37px;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cell-one {
  grid-column: span 2;
}

.cell-two {
  grid-column: span 2;
}

.cell-three {
  grid-column: span 3;
}

.cell-four {
  grid-column: span 1;
}

.label-text {
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
}

.input-container {
  position: relative;
}

.input-container-login::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 21px;
  width: 13px;
  height: 12px;
  background: url("../img/modal-window/modal-login-icon.svg") no-repeat center;
}

.input-container-email::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 21px;
  width: 15px;
  height: 12px;
  background: url("../img/modal-window/modal-email-icon.svg") no-repeat center;
}

.input-container-style {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input-container-style {
  font-family: inherit;
  min-height: 60px;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #000000;
  padding: 0;
  padding-left: 16px;
  opacity: 0.6;
  margin: 0;
  background-color: #f0f0f0;
  border: 5px solid transparent;
  margin-bottom: 5px;
  outline: none;
}

.input-comment {
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.login-comment {
  color: #ff3d3d;
}

.label-quantity-container {
  display: flex;
}

.label-quantity {
  margin-right: 9px;
}

.modal-info-icon {
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  border-radius: 50%;
  position: relative;
  margin-top: -2px;
}

.info {
  background: url("../img/icon/info.svg") no-repeat center;
  border: none;
  width: 26px;
  height: 26px;
  position: absolute;
  margin: auto;
}

.modal-tooltip-text {
  display: none;
  position: relative;
  top: 36px;
  left: -138px;
  width: 200px;
  height: 160px;
  background: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 19px;
  box-sizing: border-box;
  z-index: 5;
}

.modal-tooltip-text::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: -5px;
  right: 42px;
  background-color: #000000;
  transform: rotate(45deg);
}

.input-quantity-container {
  appearance: textfield;
  padding: 0;
  margin: 0;
  text-align: center;
  opacity: 1;
  padding: 15px 50px;
  box-sizing: border-box;
}

.input-quantity-container::-webkit-outer-spin-button,
.input-quantity-container::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-quantity {
  border: 2px solid transparent;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
}

.quantity-minus {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  background-color: transparent;
}

.quantity-minus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 2px;
  background: url("../img/modal-window/modal-minus-icon.svg") no-repeat center;
}

.quantity-plus {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
  background-color: transparent;
}

.quantity-plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  background: url("../img/modal-window/modal-plus-icon.svg") no-repeat center;
}

.appoinment-submit {
  display: block;
  width: 200px;
  padding: 0;
  margin: 0;
  padding: 15px 0;
  border: none;
  background: transparent;
  position: relative;
  z-index: 1;
  font-family: Raleway, sans-serif;
  font-size: inherit;
  text-align: center;
}

.appoinment-submit::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffc700;
  z-index: -1;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  border: 5px solid #af4fff;
  opacity: 1;
}

.modal-close-button:active {
  opacity: 0.3;
  border: 5px solid transparent;
}

.input-container-style:hover {
  background: #ebebeb;
}

.input-container-style:focus {
  border: 5px solid #af4fff;
  background: #f0f0f0;
}

.input-container-style:active {
  background: #ffffff;
  border: 3px solid #000000;
  opacity: 1;
}

/* Создала класс .error дфлее с помощью JS будет подсвечивать input*/
/* .input-error {
  background-color: #ffffff;
  border: 3px solid #ff3d3d;
  opacity: 1;
} */

.modal-info-icon:hover .modal-tooltip-text {
  display: block;
}

.quantity-minus:hover,
.quantity-plus:hover {
  opacity: 1;
}

.quantity-minus:focus,
.quantity-plus:focus {
  border: 2px solid #af4fff;
}

.quantity-minus:active,
.quantity-plus:active {
  opacity: 0.1;
  border: 2px solid transparent;
}

.appoinment-submit:hover {
  background-color: #ffc700;
}

.appoinment-submit:active .appoinment-submit-title {
  opacity: 0.3;
}
