@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Стили для html.html */
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}
/* Выделила заголовки, которые потом нужно скрыть, для того, чтобы не забыть про них.Потом уберу */
h1.visually-hidden,
h2.visually-hidden,
h3.visually-hidden,
h4.visually-hidden {
  text-decoration: line-through;
  color: rgb(8, 168, 88);
}
.main-container {
  flex-grow: 1;
}
.header-container,
.main-container,
.footer-container {
  width: 1160px;
  margin: 0 auto;
}
.header-logo-image {
  display: block;
  margin-left: 60px;
}
.user-navigation-list,
.main-navigation-list,
.category-product-list,
.services-list,
.contact-schedule-list,
.footer-list,
.breadcrumbs-list,
.catalog-filter-list,
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-navigation-list,
.main-navigation-list,
.breadcrumbs-list {
  display: flex;
  margin-left: 60px;
}
.page-header,
.user-navigation-link,
.main-navigation-link {
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
}
.main-navigation-link,
.footer-navigation-link,
.slider-slogan,
.services-link-title,
.about-us-title,
.contact-title,
.subscription-title,
.inner-header-title,
.button,
.category-product-title,
.delivery-product-button,
.catalog-filter-head,
.sorting-type-title,
.pagination-text {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}
.main-navigation-link,
.footer-navigation-link {
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.slider-slogan,
.services-link-title,
.about-us-title,
.contact-title,
.subscription-title,
.inner-header-title {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.button {
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.slider,
.category-product-list,
.about-shop-container,
.subscription-block,
.subscription-form,
.footer-social,
.footer-contact {
  display: flex;
  justify-content: space-between;
}

/* Пользовательское меню - user-navigation-list */
.search-item {
  opacity: 0.3;
  margin-right: 24px;
}
.login-item {
  margin-right: 15px;
}
.compare-item {
  margin-right: 14px;
}
.basket-item {
  margin-right: 25px;
}

/* Основное меню - main-navigation*/
.catalog-item {
  margin-right: 247px;
}
.delivery-item {
  margin-right: 19px;
}
.warranty-item {
  margin-right: 62px;
}

/* Слайдер в две колонки - slider*/
.slider-position {
  font-weight: 800;
  font-size: 180px;
  text-align: right;
  color: #ffffff;
  background-color: #ffe17f; /* height: 323px; цифра на фоне*/
}
.product-row-title {
  font-size: 36px;
  color: #000000;
}
.product-row-data {
  font-size: 16px;
}

/* Категории - category*/
.image-color {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}
.category-product-item {
  width: 160px;
  text-align: center;
}
.product-item-link,
.product-card-link,
.pagination-link {
  text-decoration: none;
}
.category-product-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}

/* Сервисы - services*/
.services,
.delivery-product-button,
.subscription {
  color: #000000;
  background-color: #f0f0f0;
}
.services {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position-x: 65%; /*для примера сместила пока декоративную картинку немного вправо, потом уберу*/
}

/* О компании - delivery-product*/
.delivery-product-button {
  display: block;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
}

/* Информация о нас - about-us*/
.about-us-list > li {
  color: #ffc700;
}
.about-us-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

/* Информация о контактах - contact*/
.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}
.contact-address,
.footer-address {
  font-style: normal;
}
.contacts-phone {
  color: #444444;
}

/* Подписка на рассылку - subscription*/
.subscription-form-input {
  font: inherit;
  opacity: 0.5;
}
.subscription-button {
  margin-right: 136px;
}
.subscription-button {
  font-size: 18px;
}
.subscription-label {
  color: #444444;
}

/* Заключительная часть сайта - page-footer*/
.page-footer {
  color: #ffffff;
  background-color: #444444;
}
.footer-container-address {
  margin-right: 114px;
}
.footer-text {
  font-size: 16px;
  line-height: 19px;
}
.footer-text-phone {
  font-size: 16px;
  text-align: right;
}
.footer-navigation-link {
  color: #ffffff;
  text-decoration: none;
}

/* Стили для catalog.html */
.inner-header-title {
  margin-left: 60px;
}
.catalog-filter,
.sorting-type,
.pagination-list {
  color: #000000;
  background-color: #ebebeb;
}
.breadcrumbs-item-link,
.catalog-filter-head,
.control-label,
.sorting-type-title,
.pagination-text,
.button-show-more {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.breadcrumbs-item-link {
  text-decoration: none;
  opacity: 0.6;
}
.catalog-filter-head {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #dcdcdc;
}
.catalog-filter {
  background: #ebebeb;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-transform: capitalize;
}
.range-text {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}
.pagination-list {
  background-color: #ebebeb;
}
.sorting-type-title,
.pagination-text {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.product-card-title {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}
.product-card-price {
  line-height: 21px;
  text-align: right;
}
.button-show-more {
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #000000 0.1;
  box-sizing: border-box;
}
.pagination-number {
  font: inherit;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
