body {
  color: #000000;
  background-color: #ffffff;
}
.page-header,
.navigation-link {
  color: #000000;
  background-color: #ffe17f;
}
.category-product-item {
  background-color: #ffe17f;
}
.services,
.delivery-product-button,
.subscription {
  color: #000000;
  background-color: #f0f0f0;
}
.services {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position-x: 60%; /*для примера сместила пока декоративную картинку немного вправо*/
}
.page-footer {
  color: #ffffff;
  background-color: #444444;
}
.footer-navigation-link {
  color: #ffffff;
}
.catalog-filter,
.sorting-type,
.pagination-list {
  color: #000000;
  background-color: #ebebeb;
}
